
.idea/ece1779a2-python-script.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
test.py
.DS_Store
__pycache__/config.cpython-37.pyc
case1.png
case2.png
figure.py
figure.py
case3.png
case4.png
ECE1779.docx
figure.py
